@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outline-text {
  text-shadow: 1px 1px 0 #000;
}

h2 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 700;
}

h3 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 700;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.sr {
  background: #c4adff;
}

.ssr {
  background: #ee9;
}

.ur {
  background: linear-gradient(120deg, #fbffca, #baffbf, #a7efff, #ffabff);
}

.error-message{
  color: rgb(211, 85, 85);
  font-weight: 700;
}

.border-top {
  border-top: 1px solid rgb(50, 57, 87)
}